:root {
  --vue-green: #326e5d;
}

.anim-logo-gradient {
  background: repeating-linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-size: 400% 400%;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 7s linear infinite forwards;
  /* -webkit-text-stroke: 1px black; */
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.anim-turbo {
  animation-duration: 1s;
}

.text-center {
  text-align: center; /* Center the text */
  margin: 0; /* Remove default margins */
  padding: 1rem; /* Add padding for better spacing */
}

/* TODO: understand what the hell is going on here with keyframe declarations */
/* https://stackoverflow.com/questions/63787241/css-how-to-create-an-infinitely-moving-repeating-linear-gradient */
@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: -33% 50%;
  }
}

.background {
  min-height: 100vh;
  background-color: #dbffdf;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #dbffdf 10px
    ),
    repeating-linear-gradient(#4fdd8155, #4fdd81);
}

.background2 {
  background: linear-gradient(
    65deg,
    rgb(7, 26, 82) 3%,
    rgb(7, 26, 82) 40%,
    rgb(8, 105, 114) calc(40% + 1px),
    rgb(8, 105, 114) 60%,
    rgb(23, 185, 120) calc(60% + 1px),
    rgb(23, 185, 120) 68%,
    rgb(167, 255, 131) calc(68% + 1px),
    rgb(167, 255, 131) 100%
  );
}
